{% extends 'authentication/bootstrap5.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'authentication/style.css' %}">
{% load bootstrap5 %}
{% block bootstrap5_content %}
<html lang="en">
<style>
table, th, td {
  border:1px solid black;
  margin-left: 1%;
  margin-right: 1%;
}
</style>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Home page{% endblock %}</title>
</head>
<body>

<div class="topnav">
    <a href="{% url 'authentication:base_home' %}">Home</a>
    <a href="{% url 'book:allbooks' %}">Books</a>
    <a href="{% url 'author:all_authors' %}">Authors</a>
    <a href="{% url 'order:all_orders' %}">Orders</a>
  <div class="topnav-right">
        <a href="{% url 'api:root' %}">Rest API</a>
        {% if user.is_authenticated %}
            <a href="{% url 'authentication:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'authentication:login' %}">Login</a>
        {% endif %}
  </div>
</div>
<br>


    {% block content %}
    <h1> Hello,
        <span style="font-family: 'Source Sans Pro', sans-serif;">
            <font color="grey">{{ user.first_name|default:'Guest' }}</font>
        </span>, welcome to the index page !
    </h1>

    <br>

    <a href="{% url 'authentication:profile' %}">Edit profile</a>
    <br><br>
    <a href="{% url 'api:root' %}">Go to Rest API</a>

    {% endblock %}
</body>
</html>
    {% endblock %}