{% extends "authentication/base_home.html" %}

{% block title %}All orders{% endblock %}

{% block content %}

    {% if submit == "Create order" %}
        <h1>Add order</h1>
    {% endif %}

    {% if submit == "Update" %}
        <h1>Close order</h1>
    {% endif %}

    <a href="{% url 'order:all_orders' %}">All orders</a>
    <br>

    {% if no_book %}
    <h3><font color="red">There is no "{{no_book}}" in the library now ( <br>
    But U can try to order it later..</font></h3>
    {% endif %}

    <form action="", method="post", autocomplete="off">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">{{submit}}</button>
    </form>
{% endblock %}