{% extends "authentication/base_home.html" %}

{% block title %}All orders{% endblock %}

{% block content %}

{% if user.is_admin %}
    <h1>Information about all orders in library</h1>
{% else %}
    <h1>Information about orders</h1>
{% endif %}

{% if sorted_object_list %}
<h2>sorted</h2>>
{% endif %}

    <a href="{% url 'order:add_order' %}">Add order</a>

    <br>
    <br>
     <form action="{% url 'order:all_orders' %}" method="get">
    <!--{% csrf_token %}-->
    {{ sort_form }}
    <input type="submit" value="Find">
    </form><br>
    <br>
    <br>

    {% if in_progress_orders %}
    <h2>Orders in progress:</h2>
        <table style="width:100%">
          <tr>
            <th>Id</th>
            <th>User</th>
            <th>Book</th>
            <th>Created at</th>
            <th>End at</th>
            <th>Plated end at</th>
            <th>Close</th>
          </tr>
          {% for order in in_progress_orders %}
          <tr>
            <td>{{order.id}}</td>
            <td>{{order.user}}</td>
            <td>{{order.book}}</td>
            <td>{{order.created_at}}</td>
            <td>{{order.end_at}}</td>
            <td>{{order.plated_end_at}}</td>
            <td><a href="{% url 'order:update_order' order.id %}">Close order</a><br><br></td>
          </tr>
          {% endfor %}
        </table>
    {% else %}
        <p>No orders in_progress are available.</p>
    {% endif %}

<br>
<br>

{% if closed_orders %}
    <h2>Orders history:</h2>
        <table style="width:100%">
          <tr>
            <th>Id</th>
            <th>User</th>
            <th>Book</th>
            <th>Created at</th>
            <th>End at</th>
            <th>Plated end at</th>
          </tr>
          {% for order in closed_orders %}
          <tr>
            <td>{{order.id}}</td>
            <td>{{order.user}}</td>
            <td>{{order.book}}</td>
            <td>{{order.created_at}}</td>
            <td>{{order.end_at}}</td>
            <td>{{order.plated_end_at}}</td>
          </tr>
          {% endfor %}
        </table>
    {% else %}
        <p>No orders history yet..</p>
    {% endif %}
{% endblock %}