{% extends "authentication/base_home.html" %}

{% block title %}Login{% endblock %}

{% block content %}
   <h2>Login</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>

    <a href="{% url 'authentication:register' %}">Register</a><br>
    <a href="{% url 'authentication:base_home' %}">Back to dashboard</a><br>

    {% if form.errors %}
        <a href="{% url 'authentication:password_reset' %}">Reset password with email</a>
    {% endif %}

{% endblock %}