{% extends "authentication/base_home.html" %}

{% block title %}All books{% endblock %}


{% block content %}
    <h1>Information about all books in library</h1>
    <!--<a href="{% url 'order:all_orders' %}">Orders</a>-->
    <a href="{% url 'book:add_book' %}">Add book</a>

    {% if book_objects %}
    <p>Available books by id:
        {% for book in book_objects %}
            <a href="{% url 'book:id_book' book.id %}">{{ book.id }}</a>
        {% endfor %}
    </p>

    {% if unordered_books_id %}
    <p>Unordered books by id:
        {% for book_id in unordered_books_id %}
            <a href="{% url 'book:id_book' book_id %}">{{ book_id }}</a>
        {% endfor %}
    </p>
    {% endif %}

    <form action="{% url 'book:search_results' %}" method="get">
    <!--{% csrf_token %}-->
    {{ form }}
    <input type="submit" value="Find">
    </form><br>

    <form action="{% url 'book:search_id_results' %}" method="get">
    <!--{% csrf_token %}-->
    {{ id_form }}
    <input type="submit" value="Find">
    </form><br>

    <form action="{% url 'book:allbooks_sorted' %}" method="get">
    <!--{% csrf_token %}-->
    {{ sort_form }}
    <input type="submit" value="Find">
    </form><br>

    <!--<form action="{% url 'book:search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
    </form>
    <br>-->

        <table style="width:98%">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Count</th>
            <th>Authors</th>
            <th>Edit</th>
          </tr>
        {% if object_list %}
        {% for book in object_list %}
          <tr>
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.count}}</td>
            <td>{% for a in book.authors.all %}
                {{a.name}} {{a.surname}}
                {% if not forloop.last %}
                ,
                {% endif %}
                {% endfor %}</td>
              <td><a href="{% url 'book:update_book' book.id %}">Update book</a><br><br></td>
          </tr>
            {% endfor %}
        {% else %}
        {% for book in book_objects %}
          <tr>
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.count}}</td>
            <td>{% for a in book.authors.all %}
                {{a.name}} {{a.surname}}
                {% if not forloop.last %}
                ,
                {% endif %}
                {% endfor %}</td>
              <td><a href="{% url 'book:update_book' book.id %}">Update book</a><br><br></td>
          </tr>
            {% endfor %}
            {% endif %}
        </table>

    {% else %}
        <p>No books are available.</p>
    {% endif %}
{% endblock %}
